.outterBoxSport{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--secondaryColor) !important;
}

.outterAddBoxSport{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.innerBoxSport{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}

.denyBackground{
    color: var(--errorColor);
}

.successBackground{
    color: var(--successColor);
}

.fixedButton {
    position: fixed !important;
    bottom: 50px;
    right: 50px; 
}
